@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', 'Arial';
}

/* ########STYLING########### */
.sec1{
    height: 98vh;
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
.sec1 nav{
    display: flex;
    justify-content: space-between;
}
.nav-bar ul li{
    display: inline-block;
    list-style-type: none;
}
.nav-bar ul li a{
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    margin-top: 2rem;
    margin-right: 3rem;
    font-weight: 500;
    transition: all 0.5s;
}
.nav-bar a:hover{
    font-weight: 700;
}
.nav-bar ul li.ctn a{
    background: linear-gradient(to bottom right, rgb(255, 207, 145),rgb(255, 111, 92));
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    font-size: 1rem;
    margin-right: 5rem;
    font-weight: 700;
    transition: all 5s;
}
.nav-bar ul li.ctn a:hover{
    background: linear-gradient(to bottom right, rgb(255, 111, 92), rgb(255, 207, 145));
}
nav .logo img{
    width: 12rem;
    margin: 2rem 0 0 5rem;
}
.sec1 img.hero{
    position: absolute;
    top: 30%;
    right: 10%;
    height: 25rem;
    animation-name: herostar;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
@keyframes herostar{
    0%{
        transform: translateY(-10%);
    }
    50%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(-10%);
    }
}

.main-text{
    position: absolute;
    top: 45%;
    left: 5%;
}
.main-text h1{
    color: #4642ff;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 2rem;
}
.main-text p{
    width: 40rem;
    font-weight: 700;
    color: #7c7c7c;
    margin-bottom: 3rem;
}
.main-text a{
    text-decoration: none;
    color: #f97878;
    border: 2px solid #f97878;
    border-radius: 2rem;
    padding: 0.8rem 1.5rem;
    margin-right: 2rem;
    font-weight: 700;
    transition: all 0.8s;
}
.main-text a:hover{
    background: linear-gradient(to bottom right, rgb(255, 111, 92), rgb(255, 207, 145));
    color: whitesmoke;
}
a.ctn{
    background: linear-gradient(to bottom right, rgb(255, 207, 145),rgb(255, 111, 92));
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    font-size: 1rem;
    margin-right: 5rem;
    font-weight: 500;
    transition: all 5s;
    color: whitesmoke;
    border: none;
}
a.ctn:hover{
    background: linear-gradient(to bottom right, rgb(255, 111, 92), rgb(255, 207, 145));
}
/* ########SEC-2####### */
.sec2{
    position: relative;
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    transform: translateX(0%);
    animation-name: startsec2;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes startsec2{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.sec2 .top, .sec2 .bottom, .sec2 .box1{
    display: flex;
    width: 35rem;
}
.box1{
    flex-direction: column;
    justify-content: space-between;
}
.top, .bottom{
    justify-content: space-between;
}
.top .left{
    background: linear-gradient(to bottom right, rgb(107, 107, 255), blue);;
    width: 35rem;
    height: 10rem;
    text-align: center;
    padding-top: 1.5rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0.5rem 1rem 1.8rem #888888;
    transition: all 1s;
}
.top .right{
    background: linear-gradient(to bottom right, rgb(80, 80, 255), rgb(253, 119, 119));
    width: 35rem;
    height: 10rem;
    text-align: center;
    padding-top: 1.5rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0.5rem 1rem 1.8rem #888888;
    transition: all 1s;
}
.bottom .left{
    background: linear-gradient(to bottom right, rgb(255, 207, 145),rgb(255, 111, 92));
    width: 35rem;
    height: 10rem;
    text-align: center;
    padding-top: 1.5rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0.5rem 1rem 1.8rem #888888;
    transition: all 1s;
}
.bottom .right{
    background: linear-gradient(to bottom right, #2af598, #009efd);
    width: 35rem;
    height: 10rem;
    text-align: center;
    padding-top: 1.5rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0.5rem 1rem 1.8rem #888888;
    transition: all 1s;
}
.box1{
    margin-left: 10rem;
    margin-top: 10rem;
}
.box1 img{
    height: 5rem;
}
.box1 h2{
    color: whitesmoke;
    font-weight: 500;
}
.box2 h1{
    color: #282f59;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    width: 40rem;
    margin-top: 15%;
    margin-left: 5%;
}
.box2 p{
    font-weight: 700;
    color: #7f7f7f;
    width: 30rem;
    margin-left: 5%;
    margin-bottom: 2rem;
}
.box2{
    width: 50rem;
}
.box2 a{
    margin-left: 5%;
    text-decoration: none;
}
.imgbox img{
    position: absolute;
    top: -5%;
    right: 13%;
    z-index: -5;
    height: 45rem;
    animation-name: scaleup;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
@keyframes scaleup{
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
.bottom .right:hover, 
.bottom .left:hover,
.top .left:hover,
.top .right:hover{
    transform: translateY(-10%);
}

